@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import "bootstrap";
@import "font-awesome";

$white: white;
$black: black;
$bg: linear-gradient(to bottom right, #0041a3, #011a36);
$blue: #013463;
$light-blue: #c7efff;
$gg: #9adbbf;

.navbar {
       margin-bottom: 0;
       background: $blue;
}
.container {
       display: flex;
       flex-direction: column;
       background-color: inherit;
}
body {
       background: $bg;
       color: $white;
       font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
       font-weight: bold;
}
p {
       font-size: 16px;
       color: $gg;
}
a:visited {
       color: $black;
}
.jumbotron {
       border-radius: 2rem;
       background: #0048CD;
       color: $white;
       text-align: center;
       p {
               color: $white;
               font-size: 26px;
       }
}
.table {
       font-size: 14px;
}
.link {
       color: $light-blue;
}
.btn-primary {
       color: $white;
       border-color: $white;
       margin-bottom: 5px;
}
.btn-sm {
       background-color: $bg;
       display: inline-block;
}
img,
video,
audio {
       margin-top: 20px;
       max-width: 80%;
}
caption {

       float: left;
       clear: both;

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * require font-awesome
 */
